.TodoItem {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  border-radius: 5px;
  box-shadow: 1px 2px 5px 1px rgba(10, 128, 255, 0.5);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  
  border: 1px solid rgba(10, 128, 255, 0.5);
  gap: 20px;
}

.TodoItem-firstLine{
  display: flex;
}

.btn {
  display: block;
}
.name {
  font-size: 1.2rem;
  font-weight: 500;
  color: #6c567b;
  cursor: pointer;
  margin-left: 20px;
}

.content {
  flex: 1; /* 추가 */
  font-size: 1.1rem;
  color: #6c567b;
  cursor: pointer;
  
  transition: color 0.3s ease-in-out;
  margin-left: 20px;
}

.edit-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.2rem;
  color: #0a80ff;
  transition: color 0.3s ease-in-out;
  padding: 0;
}